.popover-container {
    position: fixed;
    z-index: 9999;
    background-color: var(--xy-minimap-background-color-default);
    border: 2px solid white;
    border-radius: 10px;
    border-color: var(--xy-node-border-default);
    font-size: 0.8em;
}

.popover-container ul {
    padding: 0 20px;
}

.popover-container li {
    list-style: none;
}